[Desktop Entry]
Type=Application
Name=Yandex Music
Name[ru]=Яндекс Музыка
GenericName=Music Player
Icon=ru.yandex.music
Exec=run.sh %U
Terminal=false
StartupWMClass=Яндекс Музыка
Comment=Персональные рекомендации, подборки на любой случай и музыкальные новинки
MimeType=x-scheme-handler/yandexmusic;
Categories=Audio;