name: Build

on:
  push:
    branches:
  pull_request:

jobs:
  build:
    name: Build Flatpak package
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build package
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: ru.yandex.music.flatpak
          manifest-path: ru.yandex.music.yml
